<a href="#/news" class="back">返回</a>
<div ng-bind-html="htmlsce">


</div>
<style>
	.back{
		height:0.32rem;
		line-height: 0.32rem;
		background: #abcdef;
	 	font-size: 0.22rem;
		display: block;
	 }
	.article{color:#5e5e5e; width:3rem; margin:0 auto;font-size:0.2rem;}
	.title{
		font-size: 0.2rem;
	}
	.back a{display:block; width:0.8rem; height:0.6rem; text-align: center; line-height: 0.48rem; color:#fff;}
	.article-title h1{ line-height: 0.28rem; font-size: 0.22rem; color:#000;}
	.src{line-height: 0.3rem; height:0.3rem; font-size: 0.14rem}
	.section{line-height: 0.25rem; font-size: 0.15rem}
</style>